<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="box">
        <h1 id="heading"><%= today %></h1>
        <% for(var i=0; i<toDoItemList.length; i++) { %>
        <form action="/delete", method="POST">
            <div class="item">
                <input type="checkbox" name="checkbox" onchange="this.form.submit()" value="<%= toDoItemList[i]._id %>">
                <p><%= toDoItemList[i].listItem %></p>
            </div>
            <input type="hidden" name="list_type" value="<%= today %>">
        </form>
            
       <% } %>
        
       <form action="/" method="POST">
        <input type="text" name="itemText" autocomplete="off" placeholder="Enter Item">
        <button type="submit" name="list" value=<%= today %>>+</button>
       </form>
    </div>
    <%- include('footer') %>
    
   
</body>
</html>